<tr>
  <td><%= link_to 'Show', cardio_data %></td>
  <td><%= link_to 'Edit', edit_cardio_path(cardio) %></td>
  <td><%= link_to 'Destroy', cardio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>