<%= form_for(@cardio, url: cardios_path(@cardio)) do |f| %>
  <% if @cardio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cardio.errors.count, "error") %> prohibited this workout data from being saved:</h2>

      <ul>
      <% @cardio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>