<h1>New Cardio Workout Data</h1>

<%= render 'form' %>

<h3>What kind of cardio machine are you going to use?</h3>

<%= link_to 'Treadmill', new_treadmill_path %>
<%= link_to 'Elliptical', new_elliptical_path %>

<%= link_to 'Back', new_workout_data_path %>