<tr>
  <td><%= link_to 'Show', arm_data %></td>
  <td><%= link_to 'Edit', edit_arm_path(arm) %></td>
  <td><%= link_to 'Destroy', arm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>