<%= form_for(@arm, url: arms_path(@arm)) do |f| %>
  <% if @arm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arm.errors.count, "error") %> prohibited this workout data from being saved:</h2>

      <ul>
      <% @arm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>