<div>
  <h1>Welcome to Workout App</h1>

  <h3> This is an App to log, save and plan your workout sessions. Please register below to use this App.</h3>

  <li><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %></li>
</div>  