<%= form_for(@upper_body, url: upper_bodies_path(@upper_body)) do |f| %>
  <% if @upper_body.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upper_body.errors.count, "error") %> prohibited this workout data from being saved:</h2>

      <ul>
      <% @upper_body.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
