<tr>
  <td><%= workout_data.date %></td>
  <td><%= link_to 'Show', workout_data, class: 'btn btn-primary' %></td>
  <td><%= link_to 'Edit', edit_workout_data_path(workout_data), class: 'btn btn-primary' %></td>
  <td><%= link_to 'Destroy', workout_data, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>