<%= form_for(@lower_body, url: lower_bodies_path(@lower_body)) do |f| %>
  <% if @lower_body.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lower_body.errors.count, "error") %> prohibited this workout data from being saved:</h2>

      <ul>
      <% @lower_body.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>