<tr>
  <td><%= link_to 'Show', lower_body_data %></td>
  <td><%= link_to 'Edit', edit_lower_body_path(lower_body) %></td>
  <td><%= link_to 'Destroy', lower_body, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>