<h1>New Lower Body Workout Data</h1>

<%= render 'form' %>

<h3>What part of your lower body do you want to workout?</h3>

<%= link_to 'Abs', new_abdominal_path %>
<%= link_to 'Lower Back', new_lower_back_path %>

<%= link_to 'Back', new_workout_data_path %>